
/* -------------------------------------------------------- SCROLLBAR PERSONALIZADO --------------------------------------------------------*/
::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #0891b2; 
    border-radius: 10px;
}

/* ------------------------------------------------------- PAGINACION PERSONALIZADA --------------------------------------------------------*/ 
.prev {
    border-radius: 25px 5px 5px 25px;
}

.next {
    border-radius: 5px 25px 25px 5px;
}

#pagination ul li {
    transition: all 0.3s ease;
}
  